<%= @ball.name %><br />
<%= @ball.manufacturer %> <br />
Bag: <a href="/bags/<%=@ball.bowling_bag.id%>"><%= @ball.golf_bag.name %></a> <br />
<a href="/balls/<%=@ball.id%>/edit">Edit</a>
<br />
<br />